<head>
  <title>Sistema de Adquisición de Datos</title>
</head>
<body>
  <!--<div class="contenedor">
      <img src="imagenes/logo_uam.jpg" class="imagen" alt="">
  </div>-->
  <section>
    <div class="form-box">
      <div class="form-value">
        <form action="">
          <h2>Sistema de adquisición de datos</h2>
          <div class="inputbox">
            <ion-icon name="mail-outline"></ion-icon>
            <ion-input type="email" required></ion-input>
            <ion-label for=""> Usuario</ion-label>
          </div>

          <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-input type="password" required></ion-input>
            <ion-label for=""> Contraseña</ion-label>
          </div>

          <a href="ion-modal-agregar-fotos"> Acceder </a>
          <div class="register"></div>
          <p class="noTengoCuenta">No tengo cuenta <a class = "registarse" href="#">Registrarse</a></p>
        </form>
      </div>
    </div>
  </section>
</body>
